* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fffbd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b20a2c,
    #fffbd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b20a2c,
    #fffbd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  margin: 3rem auto;
  letter-spacing: 5px;
  text-align: center;
  display: flex;
  color: white;
}

h1::after,
h1::before {
  border: 20px solid;
  content: "";
  display: flex;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  color: lightblue;
}

h1::before {
  margin-right: 1rem; /* Extra marginal till höger för att skilja de två sidorna åt */
}

h1::after {
  margin-left: 1rem; /* Extra marginal till vänster för att skilja de två sidorna åt */
}
